<h1>Formation {{ training.title }} {{ ng_version + '.4' }}</h1>

<!--
<p>{{ title }} est un framework javascript</p>
<p>Etudiant du mois: {{ student }}</p>
<p>{{ is_chris_good_teacher }}</p>
<p>Pour votre santé, mangez une <strong>{{ fruits[0] }}</strong> chaque jour</p>
<app-example></app-example>

<p style="color:orange" *ngIf="is_chris_good_teacher">La vita è bella</p>

<app-counter></app-counter>

<ul>
    <li *ngFor="let fruit of fruits">{{ fruit }}</li>
</ul>

<select>
    <option *ngFor="let fruit of fruits">{{ fruit }}</option>
</select>

<app-students></app-students>

<div *ngIf="false">
    <button (click)="toggleQuote()">
        {{ show_quote ? 'Hide' : 'Show' }} Quote
    </button>
    <exos-quote *ngIf="show_quote"></exos-quote>
</div>

<app-student-list></app-student-list>
<exos-toggle-btn></exos-toggle-btn>
<exos-city-choice></exos-city-choice>
<app-student-form></app-student-form>

<exos-pass-gen></exos-pass-gen>
-->
<app-student-list></app-student-list>








